.lista ul {
    
    list-style-type: none;
    text-align: justify;
  }

  
 .lista ul li {
    text-align: left;
    padding-left: 2rem;
    background-image: url(../images/check.png);
    background-position: 0 0;
    background-size: 1.4rem 1.4rem;
    background-repeat: no-repeat;
  }
  .single-product span.price2 {
    font-size: 27px;
    font-weight: 700;
    color: #004a92;
    
}
.titulo h2{
  text-align:center;
  color:#004a92;
  padding-bottom: 3rem;

}




.lista2 ul li {
  text-align: left;
  padding-left: 2rem;
  background-image: url(../images/check.png);
  background-position: 0 0;
  background-size: 1.4rem 1.4rem;
  background-repeat: no-repeat;
}